@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat/Montserrat-Bold.eot");
	src: local("Montserrat Bold"), local("../fonts/Montserrat/Montserrat-Bold"),
		url("../fonts/Montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"),
		url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype"),
		url("../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat/Montserrat-Regular.eot");
	src: local("Montserrat Regular"), local("../fonts/Montserrat/Montserrat-Regular"),
		url("../fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"),
		url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"),
		url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
