/*---BASE--------------------------------*/
html,
body {
	height: 100%;
}

/* В body задают всё для шрифтов и фон по умолчанию */
body {
	font-family: "Montserrat", serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: calc(20px / 16px * 100%); /*20px = 125%*/
	text-transform: capitalize;
	color: #fff;
	background: #1b2115;
}

/* Чтобы не было горизонт. скролла при отрицат. отступах или позиционировании и большие эл-ты не вылазили */
.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.container {
	max-width: calc(
		1170px + 30px
	); /*1170px - это ширина нашего огранич. контейнера, а 30px - это наши паддинги по бокам*/
	margin: 0 auto;
	padding: 0px 15px; /*чтобы при адаптиве не прилипал контент к бокам экрана*/
}

/*---ПОВТОРЯЮЩИЕСЯ ЭЛЕМЕНТЫ--------*/

.title {
	font-weight: 700;
	font-size: 48px;
	line-height: calc(59 / 48 * 100%);
	text-transform: uppercase;
}

@media (max-width: 768px) {
	.title {
		font-size: 35px;
	}
}

.red-text {
	color: #6b0505;
}

/*---------------------------------*/

.header {
	background: linear-gradient(180deg, #000000 0%, #1b2115 100%);
	padding: 5px 0px; /*выставляем по самому высокому эл-ту в этой коробочке*/
}

.header__body {
	display: flex; /*чтобы блоки с лого, меню и кнопкой встали в ряд*/
	align-items: center; /*центрирует эл-ты по вертикальной оси*/
}

.header__logo {
	width: 58px; /*ширина коробочки для лого, высота подстраивается автоматически*/
	transition: all 0.3s; /*анимировать всё с задержкой 0.3 сек*/
}

.header__logo:hover {
	transform: scale(1.1); /*увеличение масштаба блока при наведении*/
}

.header__logo img {
	max-width: 100%; /*чтобы лого подстраивался под размеры своей род. коробочки*/
}

.header__logo-link {
}

.header__menu {
	margin-left: auto; /*ровняет меню по правому краю*/
}

.menu {
}

.menu__list {
	display: flex; /*выставляет пункты меню в ряд*/
	flex-wrap: wrap; /*когда не будет хватать места в ряду эл-там, они будут заходить один под одного*/
	margin: 0px 36px; /*отступы вправо и влево от списка*/
}

.menu__item {
}

.menu__item:not(:last-child) {
	margin-right: 36px; /*отступы вправо между элементами внутри списка, кроме последнего*/
}

.menu__link {
	text-transform: uppercase;
	color: #fff;

	transition: all 0.3s; /*анимировать всё с задержкой 0.3 сек*/
}

.menu__link:hover {
	/*text-shadow: 1px 0px 5px rgb(255, 255, 255);*/
	color: #c43636;
}

.header__button {
}

.btn {
	border: 2px solid #6b0505;
	background: #6b0505;
	font-weight: 700;
	font-size: 24px;
	line-height: calc(29 / 24 * 100%);
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.9);
	padding: 13px 33px; /*мы отняли по 2px от всех паддингов из-за бордера*/
	min-width: 208px; /*минимальная ширина кнопки, чтобы она сохраняла свой р-р при уменьшении экрана*/

	transition: all 0.3s; /*анимировать всё с задержкой 0.3 сек*/
}

.btn:hover {
	border: 2px solid #6b0505;
	color: #6b0505;
	background: rgba(255, 255, 255, 0.9);
}

@media (max-width: 768px) {
	.header {
		padding: 10px 0; /*делаем чуть больше отступ сверху и снизу*/
	}
	.header__body {
		flex-direction: column; /*ставит лого, меню и кнопку в колонку*/
	}
	.header__logo {
		margin-bottom: 25px; /*отступ вниз от лого до меню*/
	}
	.header__menu {
		margin-left: unset; /*убирает сдвиг вправо для меню*/
	}
	.menu__list {
		flex-direction: column; /*выстраивает пункты списка в колонку*/
		align-items: center; /*ровняет по центру пункты списка*/
		margin-bottom: 25px; /*отступ вниз от списка до кнопки*/
	}
	.menu__item:not(:last-child) {
		margin: 0; /*убрала отступы справа от пунктов списка меню*/
		margin-bottom: 15px; /*отступы вниз под каждым пунктом списка, кроме последнего*/
	}
}

/*---MAIN-------------------------------*/

.main {
}

/*---FIRST-------------------------------*/

.first {
	/*сниппет bg+ -> tab*/
	background: url("../img/first/bg_first.png") center/cover no-repeat;
}

.first__body {
	display: flex; /*ставит блоки с контентом (заголовок + текст) и картинкой в ряд*/
	align-items: center; /*центрирует эл-ты по вертикальной оси*/
	justify-content: space-between; /*прижимает элементы к разным сторонам экрана*/
}

.first__content {
	max-width: 600px; /*ширина блока с заголовком и текстом*/
}

.first__title {
	background: #000;
	text-align: center;
	padding: 5px 29px; /*паддинги нужны обязательно, они управляют высотой/шириной блока и не дают тексту приклеиться к блоку*/
}

/*обращение к соседу класса .first__title (в. д.сл. к классу .first__text). Если есть сосед - то к нему прим. margin-top, если нету соседа - нету и отступа*/
.first__title + * {
	margin-top: 25px;
}

.first__text {
	max-width: 500px; /*ширина блока с текстом*/
	background: rgba(0, 0, 0, 0.75);
	padding: 26px 29px; /*чтобы текст не прилипал к стенкам блока*/
}
.first__image {
}

.first__image img {
	max-width: 100%; /*чтобы пикча занимала весь размер род. блока и не вылазила за его пределы*/
}

@media (max-width: 768px) {
	.first {
		padding: 15px 0px; /*отступ сверху и снизу, чтобы весь контент первого блока не прилипал*/
	}

	.first__body {
		flex-direction: column-reverse; /*чтобы картинка и контент встали в колонку, но картинка будет первой*/
	}

	.first__content {
		max-width: 100%; /*чтобы контент занимал всю ширину от род.эл-та*/
	}

	.first__title + * {
		margin-top: unset; /*чтобы убрать верхний отступ у блока, следующего после блока .first__title */
	}

	.first__text {
		max-width: 100%; /*чтобы блок с текстом занимал всю ширину от род.эл-та*/
	}
}

@media (max-width: 480px) {
	.first__text {
		padding: 26px 18px;
	}
}

/*---ABOUT-------------------------------*/

.about {
	background: linear-gradient(180deg, #000000 0%, #1b2115 100%);
	padding: 48px 0px 71px; /*оступы сверху и снизу от главного блока до контента*/
}

.about__body {
}

.about__title {
	margin-bottom: 60px; /*отступ вниз от заголовка до картинок*/
}

.title {
}

.about__list {
	display: flex; /*ставит блоки (картиночка + текст) в ряд*/
	gap: 48px; /*отступы между блоками (картиночка + текст)*/
}

.about__item {
}

/* Отдельный блок */
.about-item {
	max-width: 33.333%; /*потому что три эл-та стоит в ряду, чтоб они были одинаковые*/
	background: rgba(0, 0, 0, 0.67);
	transition: all 0.3s; /*анимировать всё с задержкой 0.3 сек*/
}

.about-item:hover {
	transform: scale(1.1);
}

.about-item__image {
}

.about-item__image img {
	width: 100%; /*чтоб картиночка занимала всю ширину род. блока*/
}

.about-item__text {
	padding: 21px 18px 26px; /*чтоб текст под картинками не прилипал к краям*/
}

@media (max-width: 1024px) {
	.about__list {
		flex-wrap: wrap; /*чтобы при уменьшении экрана блоки (картиночка + текст) ломались, т.е. заходили одна под одну*/
		justify-content: center; /*выставляет все flex-элементы по центру*/
	}

	.about-item {
		max-width: 46%; /*размер каждой коробочки (картиночка + текст), выбирали на глаз, чтоб стояли две сверху, а одна внизу*/
	}
}

@media (max-width: 768px) {
	.about {
		padding: 35px 0px; /*оступы сверху и снизу от главного блока до контента*/
	}

	.about__title {
		margin-bottom: 24px; /*отступ вниз от заголовка до картинок*/
	}

	.about__list {
		gap: 24px; /*отступы между блоками (картиночка + текст)*/
	}

	.about-item {
		max-width: 100%; /*чтобы каждый блок (картиночка + текст) занял всю ширину род эл-та*/
	}
}

/*---FORM--------------------------------*/

.form {
	/*сниппет bg+ -> tab*/
	background: url("../img/form/bg_form.png") top/cover no-repeat;
}

.form__body {
	max-width: 624px; /*задаём размер, чтобы блок не растягивало на всю ширину род.блока*/
	margin-left: auto; /*ровняет блок по правому краю*/
	background: rgba(3, 3, 3, 0.7);
	padding: 69px 71px 57px 80px;
}

.form__title {
	margin-bottom: 54px;
}

.form__form {
	display: flex;
	flex-direction: column; /*чтобы поля ввода встали в колонку*/
}

.form__input {
	margin-bottom: 39px;
	padding: 22px;
}

.form__input::placeholder {
	color: #3d3d3d;
}

.form__message {
	margin-bottom: 61px;
	padding: 22px;
	min-height: 252px;
}

.form__message::placeholder {
	color: #3d3d3d;
}

.form__button {
	background: #000;
	color: rgba(255, 255, 255, 0.9);
	font-weight: 700;
	font-size: 36px;
	line-height: calc(44 / 36 * 100%);
	text-transform: uppercase;
	padding: 25px 105px;
	max-width: 317px;

	transition: all 0.3s; /*анимировать всё с задержкой 0.3 сек*/
}

.form__button:hover {
	background: #6b0505;
}

@media (max-width: 768px) {
	.form__body {
		max-width: 100%;
		padding-bottom: 35px;
	}
	
	.form__title {
		text-align: right;
	}
}

@media (max-width: 480px) {
	.form__body {
		padding-left: 18px;
		padding-right: 18px;
	}

	.form__input {
		margin-bottom: 18px;
	}

	.form__message {
		margin-bottom: 36px;
	}

	.form__button {
		max-width: 100%;
		padding: 18px 25px;
	}
}

/*---FOOTER------------------------------*/

.footer {
	background: linear-gradient(180deg, #000000 0%, #1b2115 100%);
	padding: 37px 0px 32px;
}

.footer__body {
	display: flex;
	justify-content: space-between;
}

.footer__social {
	display: flex;
	flex-direction: column;
}

.footer__email {
	font-weight: 700;
	font-size: 18px;
	line-height: calc(22 / 18 * 100%);
	text-transform: lowercase;
	color: #ffffff;
	margin-bottom: 23px;

	transition: all 0.3s; /*анимировать всё с задержкой 0.3 сек*/
}

.footer__email:hover {
	color: #c43636;
}

.footer__social-list {
	margin-bottom: 36px;
}

.social-list {
	display: flex;
}

.social-list__item {
	width: 35px;
	height: 35px;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;

	transition: all 0.3s; /*анимировать всё с задержкой 0.3 сек*/
}

.social-list__item + * {
	margin-left: 12px;
}

.social-list__item:hover {
	transform: scale(1.2);
}

.social-list__link {
}

.footer__legal {
	font-size: 14px;
	line-height: calc(17 / 14 * 100%);
}

.footer__companies {
	display: flex;
	flex-direction: column;
	text-align: center;
}

/* Отступ сверху выставляется для всех дочерних элементов блока .footer__companies, у которых есть сосед сверху */
.footer__companies > * + * {
	margin-top: 9px;
}

.footer__square-enix {
	background: #fff;
	padding: 7px;

	transition: all 0.3s; /*анимировать всё с задержкой 0.3 сек*/
}

.footer__square-enix:hover {
	transform: scale(0.95);
}

.footer__crystal-dynamics {
	background: #fff;
	padding: 7px;

	transition: all 0.3s; /*анимировать всё с задержкой 0.3 сек*/
}

.footer__crystal-dynamics:hover {
	transform: scale(0.95);
}

.footer__designed-by {
	background: #fff;
	font-weight: 700;
	font-size: 14px;
	line-height: calc(17 / 14 * 100%);
	color: #000;
	padding: 7px;
}

@media (max-width: 768px) {
	.footer__social {
		margin-right: 30px;
	}
}

@media (max-width: 480px) {
	.footer__body {
		flex-direction: column;
	}

	.footer__social {
		margin-bottom: 36px;
		align-items: center;
		text-align: center;
	}
}
